/*for test style*/
.image-cell{
	width: 425px;
	margin: auto;
	overflow: hidden;
	position: relative;
}
.image-list-div{
	width: 1275px;
	height: 260px;
}
.image-list{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.image-li{
	float: left;
	position: relative;
}
.image-prev{
	position: absolute;
	width: 10%;
	height: 20%;
	background-image:url("../img/Prv.png");
	background-position:center;
	background-size:cover;
	cursor: pointer;
	top:40%;
}
.image-next{
	position: absolute;
	top:40%;
	width: 10%;
	height: 20%;
	background-image:url("../img/Next.png");
	background-position:center;
	background-size:cover;
	right: 0px;
}
.select-li{
	position: absolute;
	bottom: 5%;
	left: 0px;
	right: 0px;
	height:5%;
	text-align: center;
}
.select-li ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin: auto;
	width: 70px;
	height: 8px;
}
.select-li ul li{
	float: left;
	width: 6px;
	height: 6px;
	position: relative;
	border: 1px solid #FC913A;
	border-radius:5px;
	-webkit-transition: width 0.5s ease-out;
	-moz-transition: width 0.5s ease-out;
	-o-transition: width 0.5s ease-out;
	transition: width 0.5s ease-out;
	margin-right: 5px;
}
.select-li ul li:hover{
	border: 1px solid #FC913A;
	width: 20px;
	background-color: #FC913A;
}
.image-message{
	position: absolute;
	bottom: 0;
	height: 20%;
	padding-top: 10px;
	margin:0px;
	background-color:black;
	opacity: 0.5;
	color: white;
	text-align:center;
	width: 100%;
	display: block;
}
.select-preview{
	height: 52px;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: black;
}
.select-preview ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.select-preview ul li{
	width:85px;
	float: left;
	margin: 0px;
	padding: 0px;
	height: 52px;
}









/*page use*/
.message-demo{
	margin: 0px;
	font-size: 14px;
}
.message-dome-head{
	font-size: 14px;
	font-weight: 800;
	margin: 0px;
}


